/* .table {
    display: table;
    border: solid 1px #ddd;
}
.table nav {
    display:table-caption;
    text-align:center;
    background:black;
    color:white;
    padding:10px;
}
.table section:nth-of-type(1) {
    font-weight:bold;
    display: table-header-group;
    background: #555;
    color: white;
}
.table section:nth-of-type(2) {
    
    display: table-header-group;
    
}
.table section:nth-of-type(3) {
   
    display: table-header-group;
    background: #f3f3f3;
   
}
.table section:nth-of-type(4) {
    
    display: table-header-group;
    
}
.table section ul {
    display: table-row;
}
.table section ul li {
    padding: 10px;
    display: table-cell;
    border: solid 1px #ddd;
} */
/* table caption {
    background: black;
    color:white;
    padding:10px;
    caption-side: top;
}
table tr td {
    height: 100px;
    text-align: center;
    vertical-align: bottom;
} */
/* table tr {
    color: white;
}
table tr:nth-child(odd) {
    background: red;
}
table tr td:nth-child(even) {
    background: #067db4;
} */
/* section {
    display: table;
    border: outset 20px #ddd;
}
section ul:first-child {
    background: #118d68;
    color:#fff;
    display:table-header-group;
}
section ul:nth-of-type(2) {
    color: white;
    display: table-row-group;
}
section ul:nth-child(even) {
    background: #1dd385;
    color: white;
    display: table-row-group;
}

section ul li {
    padding:10px;
    display:table-cell;
} */
/* table {
    empty-cells: hide;
    /* border-collapse: collapse; */
    /* border-spacing:50px 10px;
} */ 
/* table {
    border: none;
    font-size:14px;
    border-collapse: collapse;
}
table tr:hover {
    background:#ddd;
    cursor: pointer;
}
table td {
    border-top: solid 1px #ccc;
    padding: 10px;
} */
/* a::after {
    content: attr(href);
} */
/* a {
    position: relative;
}
a:hover {
    &::before {
        content: "URL: "attr(data-url);
        background: #555;
        color:white;
        position: absolute;
        top: 20px;
        padding: 3px 10px;
        border-radius: 10px; 
    }
} */
/* body {
    padding: 80px;
}
.field {
    position: relative;
}
input {
    border: none;
    outline: none;
}
.field::after {
    content: '';
    background: linear-gradient(to right, white, red ,green, blue, white);
    height: 40px;
    position:relative;
    width: 100%;
    height:1px;
    display:block;
    left:0px;
    right: 0px;
}
.field:hover::before {
    content: attr(data-placeholder);
    position: absolute;
    top: -20px;
    left: 0px;
    color: #555;
    font-size: 12px;
} */
/* body {
    padding:200px;
    
}
div {
    width: 400px;
    height: 400px;
}
div:first-of-type {
    border: solid 2px red;
    float: left;
}
div:last-of-type {
    float: right;
    background-color: blue;
} */
/* main {
    width: 400px;
    border: solid 2px black;
    overflow: auto;
    padding: 50px;
    background-color: antiquewhite;
    background-clip:content-box;
}
div {
    width:100px;
    height: 100px;
    box-sizing: border-box;
}
div:first-of-type {
    float: left;
    border:solid 2px red;
}
div:last-of-type {
    float: right;
    background-color:  green;
}
a {
	float: right;
	width:300px;
	height: 100px;
	background-color: red;
} */
/* .clearfix {
	clear: both;
	height: 0;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
div {
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
}
div.green {
	border: solid 2px green;
	float: left;
}
div.red {
	border: solid 2px red;
	float: right;
}
div.blue {
	background: blue;
} */
/* main {
	width: 200px;
	background-color: red;
	overflow: hidden;
}
div {
	width: 100px;
	height: 100px;
	margin: auto;
	background-color: blue;
	float: left;
} */
/* article {
	background: #f3f3f3;
	width: 1020px;
	height: auto;
	overflow: auto;
	padding: 20px;
}
article.hot section {
	background: #fff;
	box-shadow: 0 0 5px #777;
	height: 300px;
	width: 500px;
}
article.hot section:first-of-type {
	float: left;
}
article.hot section:last-of-type {
	float: right;
}
article.swiper section {
	background: #fff;
	box-shadow: 0 0 5px #777;
	height: 300px;
	width: 500px;
}
article.swiper section:first-of-type {
	float: left;
}
article.swiper section:last-of-type {
	float: right;
} */
/* span.shape {
	float: left;
	width:100px;
	height:100px;
	padding:30px;
	margin:30px;
	border: solid 30px green;
	shape-outside: border-box;
	overflow: scroll;
} */
/* span.shape {
    float: left;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 30px;
    background: red;
    shape-outside: inset(70px 60px 90px 50px) padding-box;
}
img {
    padding: 20px;
    float: left;
    shape-outside: ellipse(80px 70px) padding-box;} */
/* body {
    padding: 50px;
}
main {
    width:3000px;
    height:100px;
}
main div {
    width: 300px;
    border: solid 6px blueviolet;
    padding: 0;
    overflow: hidden;
    position: relative;
}
main div img {
    max-width: 300px;
    float: left;
}
main div span {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    line-height: 2em;
    border-radius: 50%;
    background: rgb(128, 37, 212);
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.8)
} */
/* body {
    padding: 50px;
}
article {
    width: 200px;
    height:200px;
    border:solid 10px blueviolet;
    position: relative;
    cursor: pointer;
}
article:hover div:nth-of-type(2) {
    z-index: 2;
}
article div {
    width: 200px;
    height: 200px;
    position: absolute;
}
article div:nth-of-type(1) {
    background: red;
    left:0px;
    z-index:2;
}
article div:nth-of-type(2) {
    background:green;
    left:50px;
    top:50px;
} */
/* * {
    padding: 0;
    margin: 0;
}
main {
    width: 600px;
    padding: 100px;
    margin: 0 auto;
}
main article {
    width: 150px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: #555;
}
main article:hover div:nth-of-type(1) {
    border-bottom:none;
}
main article:hover div:nth-of-type(2) {
    display: block;
}
main article div {
    box-sizing: border-box;
    height: 50px;
    line-height: 4em;
    text-align: center;
    border: solid 2px blueviolet;
    background: white;
}
main article div:nth-of-type(1) {
    position: relative;
    z-index: 2;
}
main article div:nth-of-type(2) {
    display: none;
    position: absolute;
    right:0;
    top:48px;
    left: -150px;
    z-index:1;
} */
/* header {
    height: 60px;
    border-bottom:solid 5px #7f35c9;
    box-shadow: 0 5px 8px rgba(100, 100, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
article {
    height:3000px;
    margin-top:80px;
    background:#f3f3f3;
    border:solid 5px #ddd;
} */
/* * {
    padding: 0;
    margin: 0;
  }
  main {
    padding: 30px;
    font-size: 14px;
  }
  main article {
    width: 400px;
    border: solid 5px blueviolet;
    height: 200px;
    overflow: scroll;
  }
  main article section:nth-of-type(odd) h2 {
    background: blueviolet;
  }
  main article section h2 {
    background: #db1f77;
    color: white;
    text-indent: 20px;
    position: sticky;
    top: 0;
  }
  main article section p {
    padding: 20px;
  } */
  /* * {
      padding: 0;
      margin: 0;
  }
  div.container {
      display: flex;
      height: 100vh;
      justify-content:space-evenly;
  }
  div.container div:nth-of-type(1) {
      min-width:80px;
      background: #4e9166;
  }
  div.container div:nth-of-type(2) {
    flex: 1;
    background: #ddd;
} */
/* *{
    padding:0;
    margin: 0;
}
main, footer {
    border: solid 1px #ddd;
    box-sizing: border-box;
}
main {
    background: #ddd;
    height: 100vh;
    padding-bottom:55px;
    background-clip: content-box;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
footer div {
    width: 33%;
    float: left;
    text-align: center;
    line-height: 3em;
    height: 100%;
    background: linear-gradient(to bottom, #f3f3f3, red, #f3f3f3);
    cursor: pointer;
}
footer div:nth-child(n+2) {
    border-left: solid 1px #ddd;
} */
/* * {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main {
    border: solid 1px #ddd;
    background: #ddd;
    background-clip: content-box;
    margin-bottom: 5px;
    flex: 1;
}
footer {
    flex: 0;
    display: flex;
    justify-content: space-evenly;
    border-top: solid 1px #ddd;
    min-height: 50px;
}
footer div {
    flex: 1;
    text-align: center;
    line-height: 0em;
    background: linear-gradient(to bottom, #d3d3d3,#eee,#d3d3d3);
    cursor: pointer;
} */

  /* article {
      height: 150px;
      margin-left: 100px;
      margin-top:100px;
      outline:solid 5px silver;
      display: inline-flex;
      padding: 20px;
  }
 article div{
     outline: solid 5px blueviolet;
     text-align:center;
     font-size: 28px;
     line-height: 5em;
     width:300px;
 } */
 /* * {
    padding: 0;
    margin: 0;
  }
  body {
      margin: 100px;
      font-size: 14px;
      color: #555;
  }
  article {
      width: 500px;
      border: solid 5px silver;
      display: flex;
      box-sizing: border-box;
      padding: 10px;
      flex-direction: column-reverse;
  }
  article * {
      border: solid 5px blueviolet;
      padding: 10px;
      margin:10px;
  } */
  /* article div{
    border: solid 5px blueviolet;
    text-align: center;
    padding:30px 80px;
    margin:10px;
    width:50px;
    box-sizing: border-box;
  }
  article {
      font-size:28px;
      padding:10px;
      width:1200px;
      height: 400px;
      border:solid 5px red;
      display: flex;
      box-sizing: border-box;
      flex-flow: column ;
      justify-content: space-around;
      align-items: flex-end;
  } */
  /* * {
    padding: 0;
    margin: 0;
}

article {
    border: solid 5px silver;
    position: relative;
    width: 600px;
    height: 150px;
    display: flex;
    box-sizing:content-box;
    padding: 20px;
    margin-left: 100px;
    margin-top:100px;
}
article * {
    outline: solid 5px blueviolet;
    text-align: center;
    font-size: 28px;
    line-height: 5em;
}
article div:nth-of-type(1) {
    flex-basis: 100px;
    width: 200px;}
  article div:nth-of-type(2) {
      flex-basis: 200px;
  }
  article div:nth-of-type(3) {
      flex-basis: 200px;
  } */
  /* * {
    padding: 0;
    margin: 0;
  }
  article {
    width: 300px;
    position: relative;
    height: 150px;
    margin-left: 100px;
    margin-top: 100px;
    outline: solid 5px silver;
    display: flex;
    padding: 20px;
  }
  article div {
    outline: solid 5px blueviolet;
    text-align: center;
    font-size: 28px;
    line-height: 5em;
    flex: 1 0 100px;
  } */
  /* * {
    padding: 0;
    margin: 0;
}

body {
    padding-left: 50px;
    padding-top: 15px;
}

article {
    border: solid 5px silver;
    width: 400px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

article section {
    order: 1;
    flex: 1 0 100px;
    padding: 10px;
    background: blueviolet;
    background-clip: content-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

article section div {
    flex: 1;
}

article section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article section span {
    flex: 0;
    background: #000;
    padding: 20px;
    cursor: pointer;
} */
/* article {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    font-size: 14px;
} */
* {
    padding:10px;
    margin:5px;
}
/* article {
    position: relative;
    height: 400px;
    border: solid 5px silver;
    display:flex;
    justify-content: space-evenly;
    align-items: fles-start;
}
article div {
    min-width: 50px;
    min-height: 80px;
    border:solid 5px blueviolet;
    text-align: center;
    font-size: 28px;
}
article div:nth-of-type(1) {
    position:absolute;
    top:0;
} */
body {
    display:flex;
    flex-direction: column;
    height:100vh;
    color: #666;
}
main {
    flex: 1;
}
footer {
    height: 50px;
    background:blueviolet;
    display: flex;
    justify-content: space-evenly;
}
footer section {
    display: flex;
    flex:1 0;
    flex-direction: column-reverse;
    border-right: solid 1px #555;
    border-top: solid 1px #555;
}
footer section h4 {
    flex: 0 0 50px;
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    color: white;
}
footer section ul {
    text-align: center;
    display:flex;
    flex-direction:column;
    border: solid 1px #555;
    margin-bottom:5px;
    border-radius: 5px;
}
footer section ul li {
    flex:1 0 50px;
    border-bottom: solid 1px #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
}
footer section ul li:last-child {
    border:none;
}
